target/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/libraries/Maven__com_google_code_gson_gson_2_8_0\.xml

\.idea/libraries/Maven__com_google_guava_guava_21_0\.xml

\.idea/libraries/Maven__com_netflix_feign_feign_core_8_18_0\.xml

\.idea/libraries/Maven__com_netflix_feign_feign_gson_8_18_0\.xml

\.idea/libraries/Maven__io_github_openfeign_feign_core_9_4_0\.xml

\.idea/libraries/Maven__junit_junit_4_12\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3\.xml

\.idea/libraries/Maven__org_jvnet_animal_sniffer_annotation_1_0\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/uiDesigner\.xml

\.idea/workspace\.xml

Cnpj4J\.iml

\.idea/sonarlint/issuestore/0/0/00842a509ff0c4053cf390022b7acf85100867fd

\.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d

\.idea/sonarlint/issuestore/b/2/b2282bded1151034fcc387751a616657e53fef3f

\.idea/sonarlint/issuestore/d/9/d945c41ecd40e735a63fab97e270ca1f1d73b473

\.idea/sonarlint/issuestore/index\.pb

\.idea/vcs\.xml

\.idea/
